# Environment
.env
.env.*
|.env.example

# Composer
/vendor/
/node_modules/

# Logs and cache
/storage/logs/*
/storage/cache/*
/storage/sessions/*

# Keep folders
!/storage/logs/.gitkeep
!/storage/cache/.gitkeep

# Backups
/database/backups/*
!/database/backups/.gitkeep

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# XAMPP/local
*.log
*.tmp
*.sql
*.zip